{% extends "base.html" %}


{% block content %}
<form action={% url "completedtodo" %} method="post">
  {% csrf_token %}
  <button type="submit">Completed Todos</button>
</form>
</br>
<a href="{% url "createtodo" %}">CreateTodo</a>
<br>
<br>
This is current todo and user name is {{ user.username }}

<ul>
  {% for t in todo %}
<p>  <li>{% if t.important %} <b>{% endif %} <a href={% url "viewtodo" t.id %}>{{ t.title}}</a> </b> {% if t.memo %} - {{ t.memo }} {% endif %} </li>
  </p>

  {% endfor %}

</ul>


{% endblock %}
