<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>  <h1>{{ todo.title }}</h1></p>
<hr>
  {{ todo.memo }}
<br>
<form method="POST">
  {% csrf_token %}
 {{ form.as_p }}
<button type="submit" name="button">Update</button>

</form>

<form action={% url "completetodo" todo.id %} method="POST">
{% csrf_token %}
<button type="submit" name="Complete">Complete</button>
</form>

<form action={% url "deletetodo" todo.id %} method="POST">
{% csrf_token %}
<button type="submit" name="Complete">Delete</button>
</form>





  </body>
</html>
